html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern';
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;
}

body {
	color: #121212;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}

menu, ol, ul {
	list-style: none;
}

.css-main {
	display: grid;
	width: 100%;
	margin-left: 0;
	grid-column-gap: 10px;
	grid-template-columns: 275px 1px 1fr 300px;
	grid-template-areas: 'title  border  headline     right-column' '.      border  standfirst   right-column' 'lines  border  media        right-column' 'meta   border  media        right-column' 'meta   border  body         right-column' '.      border  .            right-column';
}

.css-headline {
	grid-area: headline;
}
.css-width {
	max-width: 620px;
}

.css-title-padding {
	padding-top: 3px;
	padding-bottom: 36px;
}

.css-h1 {
	font-family: GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;
	font-size: 2.125rem;
	line-height: 1.15;
	font-weight: 500;
}

.css-grid-area {
	grid-area: standfirst;
}

.css-width-2 {
	max-width: 540px;
}

.css-title-font {
	font-family: GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;
	font-size: 1.0625rem;
	line-height: 1.15;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 12px;
}

.css-grid-area-2 {
	grid-area: media;
}

.css-min-height {
	min-height: 1px;
}

.css-image-pos {
	position: relative;
}

.css-image-pos img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.css-figcaption {
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
	padding-top: 6px;
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
	word-wrap: break-word;
	color: #767676;
	margin-bottom: 6px;
}

.css-figcaption-tri {
	fill: #C70000;
	padding-right: 3px;
}

.css-grid-area-3 {
	grid-area: body;
	z-index: 2;
}

.css-flex {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	z-index: 1;
}

.css-width-3 {
	width: 620px;
}

.css-body-position {
	position: relative;
}

.css-p-font {
	margin-bottom: 16px;
	font-family: GuardianTextEgyptian,Guardian Text Egyptian Web,Georgia,serif;
	font-size: 1.0625rem;
	line-height: 1.5;
	font-weight: 400;
}

.css-straight-lines {
	background-image: repeating-linear-gradient(rgb(220, 220, 220), rgb(220, 220, 220) 1px, transparent 1px, transparent 0.25rem);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: 1px calc(1px + 0.75rem);
	height: calc(1px + 0.75rem);
}

.css-padding-footer {
	padding-bottom: 72px;
}

.css-footer-font {
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
	display: block;
	color: #999999;
}

.css-ul-ol {
	list-style: none;
}

.css-ul-ol-2 {
	list-style: none;
	padding-bottom: 12px;
	margin-bottom: 6px;
	border-bottom: 1px solid #DCDCDC;
}

.css-ul-ol-3 {
	float: left;
}

.css-li {
	margin-right: 5px;
	display: inline-block;
	font-family: GH Guardian Headline,Guardian Egyptian Web,Georgia,serif;
	font-size: 1.0625rem;
	line-height: 1.15;
	font-weight: 500;
}

.css-li a {
	position: relative;
	display: block;
	padding-right: 5px;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.css-li-2 {
	margin-right: 5px;
	display: inline-block;
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.9375rem;
	line-height: 1.5;
	font-weight: 400;
}

.css-li-2 a {
	position: relative;
	display: block;
	padding-right: 5px;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.css-a-red {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: #C70000;
}

.css-li-3 {
	margin-right: 5px;
	display: inline-block;
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.9375rem;
	line-height: 1.5;
	font-weight: 400;
}

.css-li-3 a {
	position: relative;
	display: block;
	padding-right: 5px;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.css-li-4 {
	padding: 0 3px 6px 0;
	float: left;
	min-width: 32px;
	cursor: pointer;
}

.css-svg {
	border: 1px solid #DCDCDC;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 32px;
	max-width: 100%;
	width: auto;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: content-box;
	fill: #C70000;
}

.css-svg svg {
	height: 88%;
	width: 88%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
}

.css-reuse-font {
	font-family: GuardianTextSans,Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 400;
    display: inline-block;
    text-decoration: none;
	float: right;
}

.css-reuse-span {
	color: #767676;
	background-color: transparent;
	border-color: #DCDCDC;
	border-radius: 62.5rem;
	border-width: 0.0625rem;
	border-style: solid;
	box-sizing: border-box;
	display: inline-block;
	line-height: 24px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0.5rem;
	margin-right: 8;
}

.css-straight-lines {
	background-image: repeating-linear-gradient(rgb(220, 220, 220), rgb(220, 220, 220) 1px, transparent 1px, transparent 0.25rem);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: 1px calc(1px + 0.75rem);
	height: calc(1px + 0.75rem);
}